.main {
    padding: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: stretch;
    justify-content: center;
}

.poster {
    width: 100%;
}

.poster__left {
    margin: 20px;
}